{% extends "base.html" %}

{% block content %}
<h2>Создание публикации</h2>
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="title">Название:</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="content">Содержание:</label>
        <input type="text" id="content" name="content" required>
    </div>
    <div>
        <label for="logo">Картинка:</label>
        <input type="file" id="logo" name="logo" accept="image/">
    </div>
    <button type="submit">Войти</button>
</form>
{% endblock %}