<link rel="stylesheet" href="css/index.css">

<div class="form-container">
    <h1>Создание организации</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Название организации</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-actions">
            <button type="submit" class="btn success">Создать</button>
            <a href="{% url 'organizations_list' %}" class="btn secondary">Отмена</a>
        </div>
    </form>
</div>