{% extends "base.html" %}

{% block content %}
<h2>Создание организации</h2>
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="name">Название организации</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="description">Описание:</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="image">Изображение:</label>
        <input type="file" id="image" name="image">
    </div>
    <button type="submit">Войти</button>
</form>
{% endblock %}